/**
*Setting of HTML
**/
html,body{
  height:100%;
  width: 100%;
  margin:0 0 0 0px;
}

body {
  height:100%;
  width:100%;
}

.container {
  height: 100% !important;
  width:  100% !important;
  max-width: 1600px !important;  
  margin: 0px !important;
  padding: 0px !important;
}


.input-group {
  margin: 20px 0px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  height: 200px;
  width: 250px;
}


/**
*The home page backgroud module
**/

.Root_background{
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  margin: 0px;
  background-image: url(http://www.anawalls.com/images/city/paris-beautiful-france-eiffel-tower-city-france.jpg);
  z-index: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper{
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  overflow-y:auto;
  overflow-x:auto;
  background: -moz-linear-gradient(top, rgba(255,255,255,.8) 0%, rgba(255,255,255,0.68) 40%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,.8) 0%,rgba(255,255,255,0.68) 40%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,.8) 0%,rgba(255,255,255,0.68) 40%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}


.mark1{
  position:absolute;
  z-index:15;
  top:6%;
  width:100%;
  margin:0 auto;
  text-align: center;
  font-size:100px;   
  font-weight:900;
  font-family: "Zapf Chancery",cursive;
  letter-spacing:3px;
  color: #CD0000;
}

.mark_sub{
  position:absolute;
  z-index:15;
  top:20%;
  width:100%;
  margin:0 auto;
  font-weight: 100px;
  text-align: center;
  font-size:60px; 
  letter-spacing:3px;
  font-family: "Zapf Chancery",cursive;  
  color: #483D8B;
}


/**
*Weather backgroud module
**/
.weather_background{

  position: absolute;
  top:0;
  bottom: 0;
  overflow-y:auto; 
  width: 100%;
  margin: 0px ;
  background-image: url(http://pic.pimg.tw/hunghaowei/1353938469-3998405203.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

.searchBar_wrapper{
  top:80px;
  margin: 0px 60px;
  z-index: 2;
}

.weatherList_wrapper{
  margin: 40px 60px;
  z-index: 2;
}
.weather_wrapper{
  position: absolute;
  top:0;
  bottom: 0;
  background:rgba(255,255,255,.3) ; /* FF3.6-15 */
    z-index:4;
}


/**
 * The geosuggest module
 */

.top-buffer {
	margin-top: 20px;
}

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
	margin-top: 35%;
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -45px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}
.geosuggest-item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__button{
   vertical-align:middle;
   text-align:center;
   position: relative;
   height: 45.5px;
   bottom: 45px;
   width: 100px;
   right: -100%;

}
.geosuggest__button:hover {

    background-color: #4CAF50; /* Green */
    color: white;
}

.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}

/*Food and Cafe button*/

.Food {
    //background: url("./img/Cafe.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width:50%;
    }

.btn_food {
    background-color:Transparent;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width:100%;
    font-size:200px;
    }
.btn_food:hover {
    background-color:gray;
    opacity:0.5;
    background-size: 100%;
    }
 

.Cafe {
    //background: url("./img/Cafe.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    width:50%;
    }

.btn_cafe { 
    background-color:Transparent;
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    font-size:200px;
    }
.btn_cafe:hover {
    background-color:gray;
    opacity:0.5;
    background-size: 100%;
    }   

/**
* Food item
*/

.Food_background{
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;

  background-image:url(http://image5.tuku.cn/pic/sucai/shicaibeijing/198.jpg);
}

.luF_button1{
   position:relative;
   width: 29%;
   height: 27%;
   margin: 1.5% 1.5% 1.5% 3%;
   display: inline-block;
   padding: 0px;
   text-align: center;
   background-image:url(./img/A_food.png);
   border: 5px solid #555555;
   opacity:1.0;
   font-weight:900;
}


.luF_button2{
   position:relative;
   width: 29%;
   height: 27%;
   margin: 1.5%  1.5%;
   padding: 0px;
   background-image:url(./img/C_food.png);
   border: 5px solid #555555;
  font-weight:900
}

.luF_button3{
   position:relative;
   width: 29%;
   height: 27%;
   padding: 0px;
   margin: 1.5% 3% 1.5% 1.5%;
   background-image:url(./img/F_food.png);
   border: 5px solid #555555;
   font-weight:900
}

.luF_button4{
   position:relative;
   width: 29%;
   height: 27%;
   padding: 0px;
   margin: 1.5% 1.5% 1.5% 3%;
   background-image:url(./img/G_food.png);
   border: 5px solid #555555;
         color: #FFFFFF;
         text-shadow:0px 0px 15px #FF37FD;
    font-weight:900
}

.luF_button5{
   position:relative;
   width: 29%;
   height: 27%;
   margin: 1.5%  1.5%;
   padding: 0px;
   background-image:url(./img/papaya.png);
   border: 5px solid #555555;

         color: #FFFFFF;
         text-shadow:0px 0px 15px #FF37FD;
    font-weight:900
 }

.luF_button6{
   position:relative;
   width: 29%;
   height: 27%;
      padding: 0px;
   margin: 1.5% 3% 1.5% 1.5%;
   background-image:url(./img/I_food.png);
   border: 5px solid #555555;
        color: #FFFFFF;
        text-shadow:0px 0px 15px #FF37FD;
   font-weight:900     
}

.luF_button7{
   position:relative;
   width: 29%;
   height: 27%;
      padding: 0px;
   margin: 1.5% 1.5% 1.5% 3%;
   background-image:url(./img/J_food.png);
   color: #104E8B;
   font-weight:900
}

.luF_button8{
   position:relative;
   width: 29%;
   height: 27%;
      padding: 0px;
   margin: 1.5%  1.5%;
   background-image:url(./img/K_food.png);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900
}

.luF_button9{
   position:relative;
   width: 29%;
   height: 27%;
      padding: 0px;
   margin: 1.5% 3% 1.5% 1.5%;
   background-image:url(./img/T_food.png);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900
}

 .third-effect .mask {
   opacity: 0;
   overflow:auto;
   border: 79px solid rgba(0,0,0,0.8);
   box-sizing:border-box;
   font-size:30px;
   transition: all 0.4s ease-in-out;
}

.third-effect:hover .mask {
   opacity: 1;
 }

 /**
 * yelp_container item
 */

.Eating_background{
  position: absolute;
  top:0;
  bottom: 50%;
  width: 100%;
  background-color: #2F4F4F;
  font-size: 10px;
  text-align: center;
}

.Eating_pos1{
  position:relative;
  width: 29%;
  height: 65%;
  margin: 8% 1.5% 5% 3%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  border: 5px solid #555555;
  background-image:url(./img/Eat_b1.png);
  background-position: center;
  background-repeat: no-repeat;

}
.Eating_pos2{
   position:relative;
   width: 29%;
   height: 65%;
   margin: 8% 1.5% 5% 1.5%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 15px;
  box-shadow: 0 9px #999;
     border: 5px solid #555555;
       background-image:url(./img/Eat_b2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.Eating_pos3{
   position:relative;
   width: 29%;
   height: 65%;
   margin: 8% 3% 5% 1.5%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 15px;
     border: 5px solid #555555;
  box-shadow: 0 9px #999;
    background-image:url(./img/Eat_b3.png);
  background-position: center;
  background-repeat: no-repeat;
}



.Eating_pos1:hover {background-color: #3e8e41}

.Eating_pos1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Eating_pos2:hover {background-color: #3e8e41}

.Eating_pos2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Eating_pos3:hover {background-color: #3e8e41}

.Eating_pos3:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Living_background{
  position: absolute;
  top:50%;
  bottom: 0%;
  width: 34%;
  background-color: #2F4F4F;
  font-size: 10px;
  text-align: center;
}

.Living_b{
  position:relative;
  width: 87%;
  height: 65%;
  margin: 20% 1.5% 5% 3%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #1874CD ;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  border: 5px solid #555555;
  background-image:url(./img/l_b1.png);
  background-position: center;
  background-repeat: no-repeat;

}

.Living_b:hover {background-color:#104E8B;}

.Living_b:active {
  background-color: #104E8B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Trans_background{
  position: absolute;
  top:50%;
  bottom: 0%;
  width: 33.5%;
  left: 33%;
  background-color: #2F4F4F;
  font-size: 10px;
  text-align: center;
}

.Trans_b{
  position:relative;
  width: 87%;
  height: 65%;
  margin: 20% 1.5% 5% 1.5%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #FFFF00;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  border: 5px solid #555555;
  background-image:url(./img/T_b1.png);
  background-position: center;
  background-repeat: no-repeat;

}

.Trans_b:hover {background-color: #FFD700;}

.Trans_b:active {
  background-color: #FFD700;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Resort_background{
  position: absolute;
  top:50%;
  bottom: 0%;
  width: 34%;
  left: 66%;
  background-color: #2F4F4F;
  font-size: 10px;
  text-align: center;
}

.Resort_b{
  position:relative;
  width: 87%;
  height: 65%;
  margin: 20% 8% 5% 1.5%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #CD3700;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  border: 5px solid #555555;
  background-image:url(./img/s_b1.png);
  background-position: center;
  background-repeat: no-repeat;

}

.Resort_b:hover {background-color: #CD2626;}

.Resort_b:active {
  background-color: #CD2626;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/**
* Deserts item
**/

.Desert_background{
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;

  background-image:url(http://st2.depositphotos.com/1667659/6827/i/950/depositphotos_68272263-Dessert-macaroons-watercolor-painting-on.jpg);
}

.desert_b1{
   position:relative;
   width: 29%;
   height: 45%;
   margin: 1.5% 1.5% 1.5% 3%;
   display: inline-block;
   padding: 0px;
   text-align: center;
   background-image:url(./img/D_b1.png);
   border: 5px solid #555555;
}


.desert_b2{
   position:relative;
   width: 29%;
   height: 45%;
   margin: 1.5%  1.5%;
   padding: 0px;
   background-image:url(./img/D_b6.png);
   border: 5px solid #555555;
}

.desert_b3{
   position:relative;
   width: 29%;
   height: 45%;
   padding: 0px;
   margin: 1.5% 3% 1.5% 1.5%;
   background-image:url(./img/D_d5.png);
   border: 5px solid #555555;
   background-position: center;
}

.desert_b4{
   position:relative;
   width: 29%;
   height: 45%;
   padding: 0px;
   margin: 1.5% 1.5% 1.5% 3%;
   background-image:url(./img/D_b2.png);
   border: 5px solid #555555;
         color: #FFFFFF;
         text-shadow:0px 0px 15px #FF37FD;
       }

.desert_b5{
   position:relative;
   width: 29%;
   height: 45%;
   margin: 1.5%  1.5%;
   padding: 0px;
   background-image:url(./img/D_b7.png);
   border: 5px solid #555555;

    color: #FFFFFF;
    text-shadow:0px 0px 15px #FF37FD;
 }

.desert_b6{
   position:relative;
   width: 29%;
   height: 45%;
      padding: 0px;
   margin: 1.5% 3% 1.5% 1.5%;
   background-image:url(./img/D_b4.png);
   border: 5px solid #555555;
        color: #FFFFFF;
        text-shadow:0px 0px 15px #FF37FD;    
}

/*Beverages*/
.btn_coffee{
   position:absolute;
   width: 33.33%;
   height: 100%;
   padding: 0px;
   margin: 0% 33.33% 0% 0%;
   background-image:url(./img/coffee.png);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:100%;
   background-repeat:no-repeat;
    background-position:center;
}
.btn_beer{
   position:absolute;
   width: 33.33%;
   height: 100%;
   padding: 0px;
   margin: 0% 33.33% 0% 33.33%;
   background-image:url(./img/beer.png);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:100%;
   background-repeat:no-repeat;
    background-position:center;
}
.btn_bubbletea{
   position:absolute;
   right:0;
   width: 33.33%;
   height: 100%;
   padding: 0px;
   margin: 0% 0% 0% 33.33%;
   background-image:url(./img/bubbletea.jpg);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:90%;
   background-repeat:no-repeat;
    background-position:center;
}

.third-effect_beverage .mask {
   opacity: 0;
   overflow:auto;
   border: 10px solid rgba(0,0,0,0.8);
   box-sizing:border-box;
   font-size:60px;
   transition: all 0.4s ease-in-out;
}

.third-effect_beverage:hover .mask {
   opacity: 1;
 }

 /*living*/

.btn_hotels{
   position:absolute;
   width: 33.33%;
   height: 100%;
   padding: 0px;
   margin: 0% 33.33% 0% 0%;
   background-image:url(./img/hotel.jpg);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:100%;
   background-repeat:no-repeat;
    background-position:center;
   background-color:white;
}
.btn_hostels{
   position:absolute;
   width: 33.33%;
   height: 100%;
   padding: 0px;
   margin: 0% 33.33% 0% 33.33%;
   background-image:url(./img/hostel.jpg);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:100%;
   background-repeat:no-repeat;
    background-position:center;
    background-color:white;
}
.btn_bb{
   position:absolute;
   right:0;
   width: 33.33%;
   height: 100%;
   padding: 0px;
   margin: 0% 0% 0% 33.33%;
   background-image:url(./img/bb.jpg);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:100%;
   background-repeat:no-repeat;
    background-position:center;
   background-color:white; 
}

.third-effect_living .mask {
   opacity: 0;
   overflow:auto;
   border: 10px solid rgba(0,0,0,0.8);
   box-sizing:border-box;
   font-size:60px;
   transition: all 0.4s ease-in-out;
}

.third-effect_living:hover .mask {
   opacity: 1;
 }

 /*resort*/
.btn_resort{
   position:absolute;
   left:0;
   width: 50%;
   height: 100%;
   padding: 0px;
   background-image:url(./img/resort.jpg);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:150%;
   background-repeat:no-repeat;
    background-position:center;
    background-color:white;
}
.btn_tour{
   position:absolute;
   right:0;
   width: 50%;
   height: 100%;
   padding: 0px;
   background-image:url(./img/tour.jpg);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:150%;
   background-repeat:no-repeat;
    background-position:center;
   background-color:white; 
}

.third-effect_resort .mask {
   opacity: 0;
   overflow:auto;
   border: 10px solid rgba(0,0,0,0.8);
   box-sizing:border-box;
   font-size:80px;
   color:black;
   transition: all 0.4s ease-in-out;
}

.third-effect_resort:hover .mask {
   opacity: 1;
 }

/* transport */

.btn_all{
   position:absolute;
   top:0;
   left:0;
   width: 50%;
   height: 50%;
   padding: 0px;
   background-image:url(./img/alltransportation.png);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:100%;
   background-repeat:no-repeat;
    background-position:center;
    background-color:white;
}
.btn_travel{
   position:absolute;
   top:0;
   right:0;
   width: 50%;
   height: 50%;
   padding: 0px;
   background-image:url(./img/travel-service.jpg);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:100%;
   background-repeat:no-repeat;
    background-position:center;
   background-color:white; 
}
.btn_car{
   position:absolute;
   left:0;
   bottom:0;
   width: 50%;
   height: 50%;
   padding: 0px;
   background-image:url(./img/car-rental.jpg);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:100%;
   background-repeat:no-repeat;
    background-position:center;
    background-color:white;
}
.btn_motor{
   position:absolute;
   right:0;
   bottom:0;
   width: 50%;
   height: 50%;
   padding: 0px;
   background-image:url(./img/motor-rental.jpg);
   border: 5px solid #555555;
   color: #104E8B;
   font-weight:900;
   background-size:100%;
   background-repeat:no-repeat;
    background-position:center;
    background-color:white;
}

.third-effect_transport .mask {
   opacity: 0;
   overflow:auto;
   border: 20px solid rgba(0,0,0,0.8);
   box-sizing:border-box;
   font-size:60px;
   color:blue;
   text-align:center;
   transition: all 0.4s ease-in-out;
}

.third-effect_transport:hover .mask {
   opacity: 1;
 }